<h3>Useful Links</h3>
<ul>
    <li><a href="https://robjampar.gitlab.io/type-checker">Docs home</a></li>
    <li><a href="https://gitlab.com/robjampar/type-checker">Type Checker on GitLab</a></li>
    <li><a href="https://gitlab.com/robjampar/type-checker/issues">Issue Tracker</a></li>
</ul>
